* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1733064515562-be3d5f1e6f76?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

header {
    background-color: #05190a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    display: block;
    list-style-type: disc;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
header .navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}
header .navigation ul {
    float: right;
    margin-right: 20px;

}

header .navigation ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;

}

header .navigation ul li a {
    position: relative;
    font-size: 1.1em;
    color: #066445;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

header .navigation ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    transform-origin: 50% 50%;
    transform: scale(0);
    transition: transform .5s;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    background: linear-gradient(to right, #fff, #f3f3f3);
}

header .navigation ul li a:hover::after {
    transform-origin: right;
    transform: scaleX(1);
}

header .navigation ul li .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #570303;
    outline: none;
    cursor: pointer;
    font-size: 1.1em;
    color: #42675b;
    font-weight: 500;
    margin-left: 40px;
}

header .navigation ul li .btnLogin-popup:hover {
    background-color: #05190a;
    color: #fff;
}

ul li a.active,
ul li a:hover {
    background: #05190a;
    transition: 0.5s;
}

.check_btn {
    font-size: 25px;
    color: white;
    float: left;
    line-height: 50px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width:858px) {
    .check_btn {
        display: block;
    }

    ul {
        position: fixed;
        width: 50%;
        height: 70vh;
        background-attachment: #2c5038;
        top: 100px;
        left: -100%;
        text-align: left;
        transition: all .5s;
        border: 2px solid #13e23c;
        border-radius: 6px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    }

    header .navigation ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    header.navigationul li a {
        font-size: 20px;
    }

    #check:checked~ul {
        left: 0;
    }
}

/* logo */
.logo {
    color: #fff;
    user-select: none;
    font-size: 25px;
    line-height: 50px;
    padding: 0 10px;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
}

.cover_box {
    position: absolute;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid #c98c8c;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    overflow: hidden;
    transition: transform .5s ease, height .5s ease, border-color .5s ease;
    margin: 200px 100px;
    z-index: 2;



}

.cover_box:hover {
    border-color: #fff;
    animation: border-glow 1s infinite alternate;
}

@keyframes border-glow {
    frpm {
        border-color: #f6f8f6;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }

    to {
        border-color: #fff;
        box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    }
}

.cover_box.active-popup {
    transform: scaleX(1);

}

.cover_box.active {
    height: 520px;
    border-color: #fff;
}

.covor_box .form-box {
    width: 100%;
    padding: 40px;

}

.covor_box .form-box.login {
    z-index: 2;
    display: none;


}

.cover_box.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
    

}

.cover_box .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.cover_box.active .form-box.register {
    transform: translateX(0);
    transition: transform .5s ease;
}

.cover_box .icon-close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 45px;
    height: 45px;
    background: #05190a;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1;
}

.form-box h2 {
    color: #14a045;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.input-box {
    position: relative;
    margin: 30px 0;
    width: 100%;
    padding: 10px 0;

}

.input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    color: #fff;
    transform: translateY(-50%);
    font-size: 1em;
    color: #2c5038;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -10px;
}

.input-box input {
    width: 100%;
    padding: 100%;
    background: transparent;
    border-radius: 10px;
    outline: none;
    font-size: 1em;
    color: #051905;
    font-weight: 600;
    padding: 0 35px 0 5px;

}

.input-box .icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #2c5038;
}

.remember-forgot {
    font-size: 0.9em;
    color: #05190a;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #05190a;
    margin-right: 3px;
}

.remember-forgot a {
    color: #05190a;
    text-decoration: underline;
}

.remember-forgot a:hover {
    color: #2c5038;
    text-decoration: underline;
}

.btn {
    width: 100%;
    background: #05190a;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px 0;
}

.btn:hover {
    background: #2c5038;
}

.btn a {
    color: #fff;
    text-decoration: none;
}

.login-register {
    color: #05190a;
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #da0404;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    color: #05190a;
    text-decoration: underline;
}

/* img */
.slider {
    position: relative;
    width: 100%;
    height: 500px;
    margin-top: 120px;
    overflow: hidden;
}

.slider img {
    width: 100%;
    height: 500px;
    display: none;
    place-items: center;
    background-size: cover;
    object-fit: contain;
}

img.displaySlide {
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5rem;
    background-color: hsla(0, 0%, 0%, 0.5s);
    color: rgb(76, 28, 209);
    border: none;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

@keyframes fade {
    from {
        opacity: .5
    }

    to {
        opacity: 1;
    }
}

/* aboutus */
.section {
    width: 100%;
    height: auto;
    position: relative;
}

.section .container {
    width: 80%;
    display: block;
    margin: 0px auto;
    padding: 50px 0px;
    height: 300px;
}

.title {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    text-decoration: underline;
}

.content {
    display: flex;
}


.artical {
    float: left;
    width: 60%;
}

.artical h3 {
    text-transform: uppercase;
    font-size: 25px;
    color: #11899e;
}

.artical h3::after {
    content: "";
    height: 5px;
    width: 100px;
    background-color: #18d44d;
    border-radius: 25px;
    display: block;
    margin: auto;
}

.artical p {
    margin-top: 20px;
    line-height: 16px;
    font-size: 17px;
    color: #05686f;
}

.artical .button {
    margin-top: 50px;
}

.artical .button a {
    text-decoration: none;
    padding: 8px 25px;
    background-color: #14c85c;
    border-radius: 40px;
    color: #ffffffda;
    font-size: 18px;
    letter-spacing: 1.5px;
    margin: 10px 0;
}

.content .article .button a:hover {
    color: #fff;
    background-color: #f28f92;
    transition: 1s ease;
}

.img-section {
    float: right;
    width: 40%;
    margin: 10px 0;
}

.content .img-section img {
    width: 100%;
    height: 250px;
    border-radius: 100px;
    object-fit: cover;
}

.container .social {
    width: 100%;
    clear: both;
    margin-top: 50px;
    text-align: center;
    display: inline-block;
}

.container .social i {
    color: #fff;
    font-size: 40px;
    height: 50px;
    width: 50px;
    border-radius: 35%;
    line-height: 45px;
    text-align: center;
    background-color: #6f63ac;
}

.container .social i:hover {
    color: #fff;
    background-color: #88941e;
    transition: 1s ease;
    transform: rotate(360deg);
}

@media screen and (max-width: 760px) {
    .section .container {
        width: 80%;
        display: block;
        margin: auto;
    }

    .content {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }

    .img-section {
        float: none;
        width: 100%;
        margin-top: 50px;
    }

    .img-section img {
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }

    .container .title h1 {
        text-align: center;
        font-size: 30px;
    }

    .container .artical .button {
        text-align: center;
    }

    .container.artical .button a {
        padding: 6px 15px;
        font-size: 16px;
        margin: auto;
    }

    .container .social i {
        font-size: 19px;
        height: 35px;
        width: 35px;
    }
}

/* footer */
.footer {
    margin: auto;
    color: rgb(19, 8, 1);
    width: 100%;
    padding: 15px;
    text-align: center;

}